#score{
	text-align: center;
}

#game{
	width: 600px;
	height: 300px;
	border:2px solid: black;
	margin:auto;
	background-image: url("https://i.pinimg.com/originals/b7/ff/9b/b7ff9bdb63b4ce282e12d6cfdf6d293b.png");
		background-size: cover;
		
}


#dino{
	height:75px;
	width: 75px;
	position:relative;
	top:225px;
	background-image: url("https://th.bing.com/th/id/R.b6869f6afdb458a50397d11e8418434f?rik=wDGj5rcbDhDT7w&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0822%2f1983%2farticles%2fgood-dinosaur-pixel-art-8bit-arlo-dinosaur-good-dinosaur-jurassic-world-pixel-pixel-art-the-good-dinosaur-5a24f9b1f6c96a8d29720734.brickImg.jpg%3fv%3d1512385450&ehk=MzkLPtOi0SHSSQx4sOvLAHctcHp6WuMwwWX9KG6iRgg%3d&risl=&pid=ImgRaw&r=0");
	background-size: cover;

}

#rock{
	height:50px;
	width: 50px;
	position:relative;
	top:175px;
	left: 550px;
	background-image: url("https://th.bing.com/th/id/R.98d18b596d979503004803ac48b8e3fd?rik=OBHIhSc2S%2fw4EQ&riu=http%3a%2f%2fpixelartmaker.com%2fart%2f384d668556ef0fc.png&ehk=sOL8%2fTe7foaWhsBH8OCKh9XryKNrl80Nqu4%2bh%2fpBrgE%3d&risl=&pid=ImgRaw&r=0");
	background-size: cover;
	animation: rock 1.33s infinite;

}

@keyframes rock {
	0%{left: 550px;}
	100%{left: -50px;}
}

.jump-animation {
	animation: jump 0.5s;

}
@keyframes jump{
	0%{top: 225px;}
	50%{top:75px;}
	100%{top: 225px;}
}

